img {
    max-width: 100%;
}

.slide.active {
    display: block;
}

.slide {
    display: none;
}

.carousel {
    position: relative;
}

.carousel .carousel__arrow {
    position: absolute;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}

