img {
    max-width: 100%;
}

.slide.active {
    display: block;
}

.slide {
    display: none;
}

.carousel {
    position: relative;
}

.carousel .carousel__arrow {
    position: absolute;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .carousel__arrow:hover {
    background-color: #eee;
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}

